<a href="https://colab.research.google.com/github/ashish134/PythonDAAssignment/blob/main/DataTypes_and_Structures_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Types and Structures Questions

1. What are data structures, and why are they important3


*   Data structures in Python are ways to store and organize data so it can be accessed and modified efficiently. Common data structures in Python include lists, tuples, sets, and dictionaries

*  They are important because following reasons


1.   Helps in managing large amount of data efficiently
2.   Improve the operations such Searching, sorting and updating in our program

2. Explain the difference between mutable and immutable data types with examples


*   Mutable data types are refered to those whose values can be chaned once they are created. e.g list, Set, Dictionary
Here


*  list_sample=['ashish',1,2]
list_sample[1]='singh'    
list_sample=['ashish','singh',2] original list has modified

*   Immutable data types are those whose values cannot be changed once they are created e.g. string, tuple
here tuple_sample=('ashish',1,2)
     tuple_sample[1]='singh'     Will give us immediate error

3. What are the main differences between lists and tuples in Python


*   List are mutable while tuples are immutable
*   list are used for dynamic data which keeps changing


*   Tuples are used for fixed data such Aadhar no. data
*   e.g. list1=['a','b','c']

*   tuple1=('a','b','c')

4. Describe how dictionaries store data


*   Dictionaries in Python store data as key-value pairs.


*   Each item here has unique key linked to it
*   e.g. Dict_sample={'name':'Ashish','city':'mumbai}
Here Name and city are keys and 'Ashish', 'Mumbai' are values

5. Why might you use a set instead of a list in Python


*   Set basically store only unique elements and removes duplicate values automatically
*   Its better if we only need unique elements also set provides faster membership testing compared to list

6. What is a string in Python, and how is it different from a list


*   String in python is a sequance of chatacters which are written inside quotes such (' ', " ") . It is immutable and hold only string data type
*   Where other hand list is collection of element which can hold any data type inside it also list is mutable

7. How do tuples ensure data integrity in Python


*   Tuples are immutable in nature so once it is defined it prevents any accidental modification to it

*   Thus Tuple helps in ensuring data interity by keeping our original data safe and reliable

8. What is a hash table, and how does it relate to dictionaries in ?
A has table is a data structure which stores data as key-value pairs by using hash function

*   Similarly Dicionaries in python are built using hash tables

9. Can lists contain different data types in Python ?
Yes, List can contain different data types such integers, strings, bool at once


*  e.g. list_sample = ['ashish', 100, True]

10. Explain why strings are immutable in Python


*   String are immutable to prevent any accidental changes also immutablity allows reuse objects and saving memory

11. What advantages do dictionaries offer over lists for certain taskes?


*   Advantages Dictionaries offer over Lists
*   uniquness- keys in dictionaries are unique prevent duplicate entries.
*   key-value Storage - Dictionaries store data as key-value pair and Fast lookup

12. Describe a scenario where using a tuple would be preferable over a list


*   Tuples are prefereable if our data is going to be unchanged such as cordinate location of delivery vehicle. Since location should not changed so tuple is preferable here over list

13. How do sets handle duplicate values in Python


*   In python as soon as we create any set with duplicate values it automatically remove duplicate values. e.g. Set_eg={1,2,2,3}
will be {1,2,3}

14. How does the “in” keyword work differently for lists and dictionaries
*   in list, it checks if value in present e.g. 'da' in ['ds','da','fsd']
*   in dictionaries, it checks if key is present

15. Can you modify the elements of a tuple? Explain why or why not ?


*   No, We cannot modify the elements of tuple  once it id defined. We cannot do so because tuple is immutable.

16. What is a nested dictionary, and give an example of its use case ?


*   A nested dictionary is a dicionary within another dictionary.

*   e.g. Student ={"Ashish":{"age":25,"city":"mumbai"}}

17. Describe the time complexity of accessing elements in a dictionary


*   Accessing elements in dictionary in Python has average time complexity of O(1)

18. In what situations are lists preferred over dictionaries

*   When we need to store ordered, sequential data without any key-value pair also where duplicates data are needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

*   Dictionaries are unordered as they organize data by key lookup rather than sequence. This doesn’t impact retrieval since values are accessed using unique keys, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.


*   list uses index-based retrieval of data starting from 0
*   Dictionary uses unique-key(name or label) for data retrieval

#Practical Questions

In [7]:
#1. Write a code to create a string with your name and print
name='Ashish Singh'
print(f'my name is {name}')

my name is Ashish Singh

In [9]:
#2. Write a code to find the length of the string "Hello World"
print(len('Hello World'))

11

In [11]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
print('Python Programming'[0:3])

Pyt

In [14]:
#4. Write a code to convert the string "hello" to uppercase
print(('hello').upper())

HELLO

In [15]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace('apple','orange'))

I like orange

In [17]:
#6 Write a code to create a list with numbers 1 to 5 and print
list_nums=[1,2,3,4,5]
print(list_nums)

[1, 2, 3, 4, 5]

In [18]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list_num=[1,2,3,4]
list_num.append(10)
print(list_num)

[1, 2, 3, 4, 10]

In [19]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list_num=[1,2,3,4,5]
list_num.remove(3)
print(list_num)

[1, 2, 4, 5]

In [20]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lis=['a','b','c','d']
print(lis[1])

b

In [21]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list_num=[10,20,30,40,50]
print(list_num[::-1])

[50, 40, 30, 20, 10]

In [22]:
# 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple_num=(100,200,300)
print(tuple_num)

(100, 200, 300)

In [23]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple_color=('red','green','blue','yellow')
print(tuple_color[-2])

blue

In [24]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
print(min((10,20,5,15)))

5

In [25]:
14. #14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple_animal=('dog','cat','rabbit')
print(tuple_animal.index('cat'))

1

In [26]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple_fruits=('apple','banana','kiwi')
print('kiwi' in tuple_fruits)

True

In [29]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_sample={'a','b','c'}
print(set_sample)

{'a', 'b', 'c'}

In [30]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set_num={1,2,3,4,5}
set_num.clear()
print(set_num)  #this will print empty set

set()

In [31]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set_number={1,2,3,4}
set_number.remove(4)
print(set_number)

{1, 2, 3}

In [32]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [33]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [34]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict_about={'name':'Ashish','age':25,'city':'Mumbai'}
print(dict_about)

{'name': 'Ashish', 'age': 25, 'city': 'Mumbai'}

In [35]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict_sample={'name':'John','age':25}
dict_sample['country']='USA'
print(dict_sample)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict_sample={'name':'Alice','age':30}
print(dict_sample['name'])

Alice

In [37]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict_sample={'name':'Bob','age':22,'city':'New York'}
dict_sample.pop('age')
print(dict_sample)

{'name': 'Bob', 'city': 'New York'}

In [38]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict_sample={'name':'Alice','city':'Paris'}
print('city' in dict_sample)

True

In [39]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
list_eg = ['ashish','mumbai',25]
tuple_eg = ('ashish','mumbai',25)
dict_eg= {'name':'Ashish','city':'Mumbai','age':25}
print(list_eg)
print(tuple_eg)
print(dict_eg)

['ashish', 'mumbai', 25]
('ashish', 'mumbai', 25)
{'name': 'Ashish', 'city': 'Mumbai', 'age': 25}

In [45]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[8, 10, 73, 90, 99]

In [46]:
#28. Write a code to create a list with strings and print the element at the third index.
list_str=['ashish','mumbai','Data Analyst']
print(list_str[2])

Data Analyst

In [51]:
# 29. Write a code to combine two dictionaries into one and print the result
city1 = {'Name': 'Mumbai', 'Capital': 'Maharastra'}
city2 = {'Name1': 'Delhi', 'Capital1': 'India'}
combined= {**city1, **city2}
print(combined)

{'Name': 'Mumbai', 'Capital': 'Maharastra', 'Name1': 'Delhi', 'Capital1': 'India'}

In [52]:
# 30. Write a code to convert a list of strings into a set.
list_str=['ashish','mumbai','Data Analyst']
print(set(list_str))

{'mumbai', 'Data Analyst', 'ashish'}